{{ 'extra-info-with-figure.css' | asset_url | stylesheet_tag }}

<div class="wrapper-extra-info page-width">
  <div class="wrapper-components">
    <ul class="list-components">
      {% for block in section.blocks %}
        {% if block.type == 'Extra_info' %}
          <li>
            {% if block.settings.icon_extra_info != blank %}
              {{
                block.settings.icon_extra_info
                | image_url: width: block.settings.icon_extra_info.width, height: block.settings.icon_extra_info.height
                | image_tag
              }}
            {% endif %}
            <div class="content-extra-info">
              <div class="title-extra-info">
                {{ block.settings.title_extra_info }}
              </div>
              <div class="subtitle-extra-info">
                {{ block.settings.subtitle_extra_info }}
              </div>
            </div>
          </li>
        {% endif %}
      {% endfor %}
      {% if image_figure != blank %}
        <div class="mascote-img mobile">
          {{ image_figure | image_url: width: image_figure.width, height: image_figure.height | image_tag }}
        </div>
      {% endif %}
    </ul>
  </div>
  {% if image_figure != blank %}
    <div class="mascote-img desktop">
      {{ image_figure | image_url: width: image_figure.width, height: image_figure.height | image_tag }}
    </div>
  {% endif %}
</div>
