{% comment %}
  Renders product variant options 

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
  %}
{% endcomment %}
{%- liquid
  assign variants_available_arr = product.variants | map: 'available'
  assign variants_option1_arr = product.variants | map: 'option1'
  assign variants_option2_arr = product.variants | map: 'option2'
  assign variants_option3_arr = product.variants | map: 'option3'

  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- for value in option.values -%}
  {%- liquid
    assign option_disabled = true

    for option1_name in variants_option1_arr
      case option.position
        when 1
          if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 2
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 3
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
      endcase
    endfor
  -%}

  {%- if block.settings.picker_type == 'button' -%}
    <div
      {% if option.selected_value == value %}
        class="wrapper-variant active-variant"
      {% else %}
        class="wrapper-variant"
      {% endif %}
    >
      <input
        type="radio"
        id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
        name="{{ option.name }}"
        value="{{ value | escape }}"
        form="{{ product_form_id }}"
        {% if option.selected_value == value %}
          checked="true"
        {% endif %}
        {% if option_disabled %}
          class="disabled"
        {% endif %}
      >
      {% if product.variants[forloop.index0].metafields.custom.have_discount_dag %}
        <div class="tag-variant-discount">
          {% assign percent_off = product.variants[forloop.index0].price
            | times: 100
            | divided_by: product.variants[forloop.index0].compare_at_price
            | minus: 100
            | round: 2
            | abs
          %}

          {% if product.variants[forloop.index0].metafields.custom.has_free_shipping %}
            <p class="tag-with-shipping-free-text tag-variant-text">
              {{ percent_off }}% OFF + {{ product.variants[forloop.index0].metafields.custom.texto_frete_gratis }}
            </p>

          {% else %}
            <p class="normal-discount-text tag-variant-text">{{ percent_off }}% OFF</p>
          {% endif %}
        </div>
      {% endif %}
      {% assign price_with_pix_discount = product.variants[forloop.index0].price
      | times: pix_percent
      | divided_by: 100
      | minus: product.variants[forloop.index0].price
      | abs
    %}
      <label
        class="change-price_button"
        for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
        data-attr="{{ product.variants[forloop.index0].price | money }}"
        {% if product.variants[forloop.index0].compare_at_price > 0
          and product.variants[forloop.index0].compare_at_price > product.variants[forloop.index0].price
        %}
          data-attr-list-price="{{ product.variants[forloop.index0].compare_at_price | money }}"
        {% endif %}
        data-attr-pix="{{ price_with_pix_discount | money }}"
      >
        <div class="text-variant-option">
          {{ value -}}

          {% if product.variants[forloop.index0].compare_at_price > 0
            and product.variants[forloop.index0].compare_at_price > product.variants[forloop.index0].price
          %}
            {% if product.variants[forloop.index0].metafields.custom.have_discount_dag %}
              {% assign economize_price = product.variants[forloop.index0].compare_at_price
                | minus: product.variants[forloop.index0].price
              %}

              {% assign economize_price_text = product.variants[forloop.index0].metafields.custom.texto_economize
                | split: '{{economize_price}}'
              %}
              {% if product.variants[forloop.index0].metafields.custom.has_free_shipping %}
                <p>
                  {{ economize_price_text[0] }}
                  {{ economize_price | money }}
                  {{ economize_price_text[1] }}
                </p>
              {% else %}
                <p>
                  {{ economize_price_text[0] }}
                  {{ economize_price | money }}
                  {{ economize_price_text[1] }}
                </p>
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
        <div class="prices-wrapper">
          {% if product.variants[forloop.index0].compare_at_price > 0
            and product.variants[forloop.index0].compare_at_price > product.variants[forloop.index0].price
          %}
            <span class="each-price-list">{{ product.variants[forloop.index0].compare_at_price | money }}</span>
          {% endif %}
          <span class="each-price">
            {% assign number_of_potes = product.variants[forloop.index0].metafields.custom.numero_de_potes
              | default: 1
            %}
            {% assign value_per_box = product.variants[forloop.index0].price | divided_by: number_of_potes %}
            {{ value_per_box | money }}
            <span class="unit-variant">/cada</span></span
          >
        </div>
        <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
      </label>
    </div>

  {%- elsif block.settings.picker_type == 'dropdown' -%}
    <option
      value="{{ value | escape }}"
      {% if option.selected_value == value %}
        selected="selected"
      {% endif %}
    >
      {% if option_disabled -%}
        {{- 'products.product.value_unavailable' | t: option_value: value -}}
      {%- else -%}
        {{- value -}}
      {%- endif %}
    </option>
  {%- endif -%}
{%- endfor -%}

<script defer>
  document.addEventListener('DOMContentLoaded', function () {
    var buttons = document.getElementsByClassName('change-price_button');
    var container = document.querySelectorAll('.wrapper-variant');
    var price_change = document.getElementsByClassName('js_price-button');
    var list_price_change = document.getElementsByClassName('js_list_price-button');
    var pix_price_change = document.getElementsByClassName('pix-price');
    var arr = Array.from(buttons);
    // document.querySelectorAll('.wrapper-variant:not(input:checked)');
    // container[0].classList.add('active-variant');

    arr.forEach((button) => {
      button.addEventListener('click', (e) => {
        var new_price = button.getAttribute('data-attr');
        var new_price_list = button.getAttribute('data-attr-list-price');
        var new_pix_price = button.getAttribute('data-attr-pix');
        var parentClass = button.parentNode;

        price_change[0].textContent = new_price;
        list_price_change[0].textContent = new_price_list;
        pix_price_change[0].textContent = new_pix_price;

        container.forEach((el) => el.classList.remove('active-variant'));
        Array.from(list_price_change).forEach((el) => el.classList.remove('hide'));

        if (!new_price_list) {
          list_price_change[0].classList.add('hide');
        }

        parentClass.classList.add('active-variant');
      });
    });
  });
</script>
