{{ 'footer-by-turbo.css' | asset_url | stylesheet_tag }}
{% style %}
    .footer-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}
<div
  class="footer footer-{{ section.id }}  color-{{ section.settings.color_scheme }} "
  style="margin-top: {{ section.settings.margin_top }}px;"
>
  <div class="page-width wrapper-footer-blocks footer-{{ section.id }}-padding">
    {% for block in section.blocks %}
      {% case block.type %}
        {%- when '@app' -%}
          {% render block %}
        {% when 'logo' %}
          <div class="logo-wrapper">
            <div class="logo-footer" style="max-width: {{ block.settings.width }}px;">
              {{
                block.settings.logo
                | image_url: width: block.settings.logo.width, height: block.settings.logo.height
                | image_tag: loading: 'lazy'
              }}
            </div>
            {% if block.settings.text_rodape != blank %}
              <div class="text-logo">
                {{ block.settings.text_rodape }}
              </div>
            {% endif %}
          </div>
        {% when 'newsletter' %}
          <div class="newsletter-wrapper">
            <div class="title-newsleter">
              {{ block.settings.heading }}
            </div>
            {% render 'newsletter-block',
              placeholder: block.settings.placeholder,
              button_label: block.settings.button
            %}
          </div>
        {% when 'contact' %}
          <div class="contact col-footer">
            <div class="title-footer">
              {{ block.settings.heading }}
            </div>
            <div class="content-contact">
              {{ block.settings.body }}
            </div>
            <div class="socials wrapper">
              <ul>
                {% for block_insta in section.blocks %}
                  {% if block_insta.type == 'socias' %}
                    <li>
                      <a href="{{ block_insta.settings.link_social }}" target="_blank">
                        {{
                          block_insta.settings.img_social
                          | image_url: width: 20, height: 20
                          | image_tag: loading: 'lazy'
                        }}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        {% when 'link_list' %}
          <div class="link-list-footer">
            <div class="title-footer">
              {{ block.settings.heading }}
            </div>
            <ul class="footer-block__details-content list-unstyled list-linked-footer">
              {%- for link in block.settings.menu.links -%}
                <li>
                  <a
                    href="{{ link.url }}"
                    class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                  >
                    {{ link.title }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
  <div class="extra-footer-copy" style="background-color: {{ section.settings.bg_copy_color}};">
    <div class="page-width wrapper-extra-footer">
      <div class="left-copy">
        {{ section.settings.copyright_text }}
      </div>
      <div class="right">
        <a
          href="https://www.turbopartners.com.br/?utm_source=clients&utm_medium=organic&utm_campaign=footer&utm_content=gkbrand"
          title="Turbo Partners"
        >
          Desenvolvido por <strong>Turbo Partners</strong>
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer by turbo",
  "tag": "footer",
  "class": "footer",
  "settings": [
    {
      "type": "header",
      "content": "Textos"
    },
    {
      "type": "richtext",
      "id": "copyright_text",
      "label": "Texto de copyright"
    },
    {
      "type": "header",
      "content": "Cores"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-1",
      "label": "Esquema de cores"
    },
    {
      "type": "color",
      "id": "bg_copy_color",
      "label": "Cor de background copyright"
    },
    {
      "type": "header",
      "content": "Espaçamento"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 140,
      "step": 4,
      "unit": "px",
      "label": "Margem superior",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 140,
      "step": 4,
      "unit": "px",
      "label": "Preenchimento superior",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Preenchimento inferior",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Foto para o rodape"
        },
        {
          "type": "range",
          "id": "width",
          "min": 200,
          "max": 300,
          "step": 5,
          "unit": "px",
          "label": "Tamanho da logo",
          "default": 295
        },
        {
          "type": "richtext",
          "id": "text_rodape",
          "label": "Texto embaixo da logo"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Assinatura de e-mail",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "label": "Título",
          "default": "<h4>Receba novidades e descontos</h4>"
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "Texto dentro da caixa de e-mail",
          "default": "Seu melhor e-mail:"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Botão",
          "default": "Enviar"
        },
        {
          "type": "checkbox",
          "id": "button_side",
          "label": "Botão ao lado da caixa de e-mail",
          "default": false
        }
      ]
    },
    {
      "type": "contact",
      "name": "Contato",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "label": "Título",
          "default": "<h4>Contato</h4>"
        },
        {
          "type": "richtext",
          "id": "body",
          "label": "Horários de atendimento",
          "default": "<p>Atendimento: Segunda à Sexta: 09:00 às 18:00</p>"
        }
      ]
    },
    {
      "type": "socias",
      "name": "Redes sociais",
      "settings": [
        {
          "type": "image_picker",
          "id": "img_social",
          "label": "Ícone rede social"
        },
        {
          "type": "url",
          "id": "link_social",
          "label": "Link da rede social"
        }
      ]
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "default": "<h4>Quick links</h4>",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    }
  ]
}
{% endschema %}
