{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .section-{{ section.id }}-padding {

  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
  <div class="page-width">
    <ul class="list-custom-cards">
      {% for item in section.blocks %}
        {% if item.type == 'card' %}
          <li class="card-wrapper" style="background-color: {{ item.settings.bg_color }}">
            {% if item.settings.link != blank %}
              <a class="link" href="{{ item.settings.link }}"></a>
            {% endif %}
            {% if item.settings.image != blank %}
              <div class="image-card">
                {{
                  item.settings.image
                  | image_url: width: item.settings.image.width, height: item.settings.image.height
                  | image_tag
                }}
              </div>
            {% endif %}
            <div class="info-card">
                <div class="title-card">{{ item.settings.title }}</div>
                <div class="subtitle-card">{{ item.settings.subtitle }}</div>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Card Image List",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "card",
      "name": "Card",
      "settings": [
        {
          "type": "color",
          "label": "Background Color",
          "id": "bg_color"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link Card"
        },
        {
          "type": "image_picker",
          "label": "Imagem Card",
          "id": "image"
        },
        {
          "type": "richtext",
          "label": "Title Card",
          "id": "title"
        },
        {
          "type": "richtext",
          "label": "SubTitle Card",
          "id": "subtitle"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Card Image List by turbo"
    }
  ]
}
{% endschema %}
