{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    background:{{ section.settings.background_section_color }};
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="wraper-newsletter">
      <div class="left">
        <div class="title">
          {{ section.settings.title }}
          <div class="subtitle">
            {{ section.settings.subtitle }}
          </div>
        </div>
      </div>
      <div class="right">
        
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Newsletter by turbo",
  "settings": [
    {
      "type": "color_background",
      "id": "background_section_color",
      "label": "Cor do background da seção",
      "default": "radial-gradient(50% 50% at 50% 50%, #8FD83B 0%, #B4FA64 100%)"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Titulo newsletter",
      "default": "<p>Obtén 10% de descuento en tu primera compra</p>"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Titulo newsletter",
      "default": "<p>Recibe también contenido y promociones exclusivas en tu correo.</p>"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ]
}
{% endschema %}
